@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
  --color-dark: #3e2723;
  --color-default: #5d4037;
  --color-light: #d7ccc8;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
