@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
  --color-dark: #3e2723;
  --color-default: #5d4037;
  --color-light: #d7ccc8;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-fadeup {
  animation-name: fade-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes rightIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rightin {
  animation: rightIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.rightIn {
  animation: rightIn 1s ease-out forwards;
  animation-timeline: scroll();
  animation-delay: 0.2s;
  animation-range: entry 0% cover 40%;
}

@keyframes leftIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leftin {
  animation: leftIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.leftIn {
  animation: leftIn 1s ease-out forwards;
  animation-timeline: scroll();
  animation-delay: 0.2s;
  animation-range: entry 0% cover 40%;
}
